$stage-red: #A33A49;

$stage-blue: #396999;

$stage-green: #459900;

$stage-purple: #8500b5;

.mynav {
  background-color: white;
  box-shadow: 0 6px 6px -2px rgba(0,0,0,.4);

  li {
    list-style-type: none;
    padding-top: -2vh;
  }

  .speciel {
    background-color: #c20000;
  }

  .nav-link {
    color: black;
    font-size: 1.1em;
    font-weight: bold;
  }
}

.nyheder {

  h2 {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    padding-top: 3vh;
  }
}

//Nedenstående er for line-up siden.

.lineup {

  h2 {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 1vh;
  }
}
.stage-navbar {
    display: inline-block;
    margin: 0;
    padding-bottom: 2vh;
}

.stage-navbar a {
  display: block;
  width: 39vh;
  height: 8vh;
  padding-top: 1vh;
  background-color: black;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  color: white!important;
  // Tilføj mediaQ, så der kommer border mellem scene navnene, når siden er i mobil.
}

.nav-stage-1 a:hover, .nav-stage-1 a.active {
  background-color: $stage-red;
}

.nav-stage-2 a:hover, .nav-stage-2 a.active {
  background-color: $stage-blue;
}

.nav-stage-3 a:hover, .nav-stage-3 a.active {
  background-color: $stage-green;
}

.nav-stage-4 a:hover, .nav-stage-4 a.active {
  background-color: $stage-purple;
}

// Nedenstående er for program siden.

.day-navbar {
    display: inline-block;
    margin: 0;
    padding-bottom: 2vh;
}

.day-navbar a {
  display: block;
  width: 39vh;
  height: 8vh;
  padding-top: 1vh;
  background-color: black;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  color: white;
  // Tilføj mediaQ, så der kommer border mellem scene navnene, når siden er i mobil.
}

.day-hover a:hover, .day-hover a.active {
  background-color: $stage-blue;
}

.filler {
  height: 100vh;
}

// .site-wrapper {
//   width: 100vh;
//  height: 100vh;
// }
//
// .site-wrapper div {
//   width: 33vh;
//   height: 30vh;
//   border: 1px solid black;
//
//   img {
//     width: 100vh;
//     height: 50vh;
//   }
// }

ul li {
  cursor: pointer;
}

.stage-1 {
  background-color: $stage-red;
}

.stage-2 {
  background-color: $stage-blue;
}

.stage-3 {
  background-color: $stage-green;
}

.stage-4 {
  background-color: $stage-purple;
}

.newslist {
  display: none;
}

.active {
  display: block;
}

// .modal {
//   display: none;
//   position: fixed;
//   padding-top: 50px;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgb(0, 0, 0);
//   background-color: rgba(0, 0, 0, 0.5);
// }
// .modal-content {
//   position: relative;
//   background-color: white;
//   padding: 20px;
//   margin: auto;
//   width: 75%;
//   -webkit-animation-name: animatetop;
//   -webkit-animation-duration: 0.4s;
//   animation-name: animatetop;
//   animation-duration: 0.4s
// }
// .close-btn {
//   float: right;
//   color: lightgray;
//   font-size: 24px;
//   font-weight: bold;
// }
// .close-btn:hover {
//   color: darkgray;
// }
// @-webkit-keyframes animatetop {
//   from {top:-300px; opacity:0}
//   to {top:0; opacity:1}
// }
// @keyframes animatetop {
//   from {top:-300px; opacity:0}
//   to {top:0; opacity:1}
// }

// .mydaynav {
//   background-color: #181818;
//   justify-content: center !important;
//   // margin: 2vh;
//
//   li {
//     color: white;
//     width: 100%;
//     height: 100%;
//     font-size: 2em;
//     font-weight: bold;
//     text-align: center;
//
//       a:hover {
//         background-color: gray;
//       }
//
//   }
// }

footer {
  height: 110vh;
  background-color: black;
  justify-content: center !important;



  //Newsletter
.main {
  background-image: url('/public_html/assets/images/banner.jpeg');
  background-size: cover;

  height: 30vh;
  text-align: center;


  }

.main>#singular-form {

  justify-content: center !important;
  width: 100%;
  height: 100%;
  }


}
